.form-field {
  @apply relative w-full mb-4;
}

.form-field label {
  @apply sr-only;
}

.form-field input[type='text'],
.form-field input[type='date'],
.form-field input[type='datetime'],
.form-field input[type='email'],
.form-field input[type='number'],
.form-field input[type='search'],
.form-field input[type='time'],
.form-field input[type='url'],
.form-field input[type='password'],
.form-field textarea,
.form-field select {
  @apply text-black px-4 py-3 w-full h-full border border-black rounded;
}

.dark .form-field input[type='text'],
.dark .form-field input[type='date'],
.dark .form-field input[type='datetime'],
.dark .form-field input[type='email'],
.dark .form-field input[type='number'],
.dark .form-field input[type='search'],
.dark .form-field input[type='time'],
.dark .form-field input[type='url'],
.dark .form-field input[type='password'],
.dark .form-field textarea,
.dark .form-field select {
  @apply text-white border-gray-300 bg-transparent;
}

.form-field textarea {
  @apply h-32;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #374151;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.dark .lds-ripple div {
  border: 4px solid #d1d5db;
}
